.slider {
  background: #101056;
  &__img {
    width: 100%;
    height: 100%;
  }
}
.main {
  background: var(--global-background);
}



.brand {
  height: 200px;
  padding: 50px 0 0;
  &__nav {
    padding: 0 90px;
    justify-content: space-between;
    align-items: center;
    display: flex;

    &-block {
      padding: 10px 0 0;
      width: 94px;
      height: 127px;
      transition: background 0.3s ease;

      &:hover {
        .brand {
          &__nav-circle {
            border: 3px solid blue;
            p {
              color: white;
            }
          }
        }
      }
    }

    &-circle {
      width: 76px;
      height: 76px;
      background: none;
      border-radius: 50%;
      border: 3px solid var(--global-color);
      margin: 0 auto;
      z-index: 50;
      position: relative;
      transition: border-color 0.3s ease;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      p {
        text-align: center;
        align-items: center;
        font-weight: 400;
        color: gray;
      }
    }
  }
}


.bestsellers {
  height: 444px;
  &__title {
    font-size: 29px;
    color: white;
  }
}

.promotions {
  height: 261px;

  &__block {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 20px;
  }

  &__bonus, &__discounts {
    img {
      width: 580px;
      height: 230px;
      border-radius: 16px;
    }
  }
}


.news {
  height: 441px;
  &__title {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 500;
    color: white;
  }
}

.popular {
  height: 509px;
  &__title  {
    font-size: 29px;
    font-weight: 500;
    text-align: left;
    color: white;
  }
  &__block {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px 0;
  }
  &__link {
    &-box {
      width: 200px;
      height: 200px;
      background: var(--global-background-two);
      border-radius: 32px;
      display: inline-block;
      &:hover {
        background: #252d32;
      }
    }
  }
}

.popularBrands {
  height: 143px;
  &__title {
    font-size: 29px;
    font-weight: 500;
    text-align: left;
    color: white;
    padding: 0 0 20px;
  }
  &__box {
    width: 208.8px;
    height: 84px;
    background: white;
    border-radius: 16px;
    &-block {
      justify-content: space-between;
      align-items: center;
      display: flex;
    }
  }
}